@model IEnumerable<ChatApplication.Models.Chat>


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>История сообщений</title>
</head>
<body>
 <form asp-controller="Home" asp-action="ChatHistory" method="post">
                        От <input type="datetime-local" name="dateBegin"/> - <input type="datetime-local" name="dateEnd"  />
                      
                        Имя пользователя   <input type="text" name="searcSrtring" />
                        <input type="submit" class="btn" value ="Фильтр" />
                        </form>
     <table class="table">
            <thead>
                <tr>

                   <th>
                        @Html.DisplayNameFor(model => model.msg)
                    </th>
                    <th>
                    <a asp-action="ChatHistory" asp-route-sortOrder="@ViewData["NameSort"]">@Html.DisplayNameFor(model => model.Person.name)</a>
                    </th>

                    <th>
                    <a asp-action="ChatHistory" asp-route-sortOrder="@ViewData["DateSort"]">@Html.DisplayNameFor(model => model.d_time)</a>
                    </th>
                
                </tr>   
            </thead>
            <tbody>
              
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.msg)</td>
                        <td>@Html.DisplayFor(modelItem => item.Person.name)</td>
                        <td>@Html.DisplayFor(modelItem => item.d_time)</td>
                    </tr>
                }
                    
            </tbody>
        </table>


  </body>
  </html>

  <style>
  td {width:25%}
  datetime-local{width:5%}
  </style>