@model IEnumerable<ChatApplication.Models.Chat>


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>История сообщений</title>
</head>
<body>
  @ViewBag.t
     <table class="table">
            <thead>
                <tr>

                   <th>
                @Html.DisplayNameFor(model => model.msg)
            </th>
                <th>
                    <a asp-action="ChatHistory" asp-route-sortOrder="@ViewData["NameSort"]">@Html.DisplayNameFor(model => model.Person.name)</a>
                </th>

             <th>
                    <a asp-action="ChatHistory" asp-route-sortOrder="@ViewData["DateSort"]">@Html.DisplayNameFor(model => model.d_time)</a>
                </th>
                <th>
           
 


<form asp-controller="Home" asp-action="ChatHistory" method="post">
                     <input type="datetime-local" name="dateBegin"  />
                     <input type="datetime-local" name="dateEnd"  />

                     <input type="submit" class="btn" value ="Send" />

                       <input type="text" name="searcSrtring" />
                      <input type="submit" class="btn" value ="Filter" />
</form>

                @* </a>*@

                </th>
                </tr>   
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.msg)</td>
                        <td>@Html.DisplayFor(modelItem => item.Person.name)</td>
                        <td>@Html.DisplayFor(modelItem => item.d_time)</td>
                    </tr>
                }
            </tbody>
        </table>


  </body>
  </html>