@model IEnumerable<ChatApplication.Models.Person>


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SignalR Chat</title>
</head>
<body>
    <a asp-action="Chat" asp-route-id="@ViewBag.id" asp-controller="home">Групповой чат</a>

  

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.passw)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.passw)
                        </td>
                        <td>
                            @Html.ActionLink("Чат", "Chat", new { id = item.id }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </tbody>
        </table>


        @*
            <div id="loginBlock">
                Введите логин:<br />
                <input id="userName" name="userName" type="text" />
                <input id="loginBtn" type="button" value="Войти" />
                <button type="submit">ok</button>
            </div><br />

            <div id="header"></div><br />

            <div id="inputForm">
                <input type="text" id="message" />
                <input type="button" id="sendBtn" value="Отправить" />
            </div>
            <div id="chatroom"></div>
            <script src="js/signalr/dist/browser/signalr.min.js"></script>
            <script>
                const hubConnection = new signalR.HubConnectionBuilder() //Чтобы подключиться к хабу
                    .withUrl("/chathub")
                    .configureLogging(signalR.LogLevel.Information)
                    .build();

                let userName = '';
                // получение сообщения от сервера
                hubConnection.on('Send', function (message, userName) {


            console.log(message);
            console.log(userName);

                    // создаем элемент <b> для имени пользователя
                    let userNameElem = document.createElement("b");
                    userNameElem.appendChild(document.createTextNode(userName + ': '));

                    // создает элемент <p> для сообщения пользователя
                    let elem = document.createElement("p");
                    elem.appendChild(userNameElem);
                    elem.appendChild(document.createTextNode(message));

                    var firstElem = document.getElementById("chatroom").firstChild;
                    document.getElementById("chatroom").insertBefore(elem, firstElem);

                });

                // установка имени пользователя
                document.getElementById("loginBtn").addEventListener("click", function (e) {
                    userName = document.getElementById("userName").value;
                    document.getElementById("header").innerHTML = '<h3>Welcome ' + userName + '</h3>';
                });



                hubConnection.on('Notify', function (message) {
                    document.getElementById("status").innerText = message;
                });

                  // отправка сообщения на сервер
                document.getElementById("sendBtn").addEventListener("click", function (e) {
                    let product = document.getElementById("product").value;
                    hubConnection.invoke('Send', product);
                    document.getElementById("product").value = "";
                });

                // отправка сообщения на сервер
                document.getElementById("sendBtn").addEventListener("click", function (e) {
                    let message = document.getElementById("message").value;
                    hubConnection.invoke("Send", message, userName);//Для отправки данных хабу у объекта HubConnection
                });

                hubConnection.start();
            </script>*@




        @*<form action='@Url.Action("Create")' method="post">
                    <input type="text" name="msg" />
                    <input type="submit" value="Отправить" />
                </form>


            <div id="notify"></div>

            <script src="js/signalr/dist/browser/signalr.min.js"></script>
            <script>
                const hubConnection = new signalR.HubConnectionBuilder()
                    .withUrl("/chathub")
                    .build();




                // получение сообщения от сервера
                hubConnection.on('Notify', function (message) {

                    // установка имени пользователя
                    document.getElementById("btn").addEventListener("click", function (e) {
                        //userName = document.getElementById("userName").value;
                        document.getElementById("header").innerHTML = '<h3>Welcome ' + message + '</h3>';
                    });

                    // создает элемент <p> для сообщения пользователя
                    let elem = document.createElement("p");
                    elem.appendChild(document.createTextNode(message));

                    document.getElementById("notify").appendChild(elem);

                });
                hubConnection.start();
            </script>*@
    </body>
</html>
